
.cardsContainer{
  position: relative;
  left: 600px;
  width: 670px;
  height: 450px;
  padding-left:10px ;
  padding-right:20px ;
  padding-top:10px ;
  border-radius: 10px;
  margin-top: 125px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow:1px 2px 10px 1px rgba(0, 0, 0, 0.1) ;
box-sizing: border-box;
max-height: 100%;
display: flex;
flex-direction: row;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
justify-content: space-between;
align-items: stretch;
align-content: stretch;
-webkit-box-align: stretch;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
z-index: 500;
overflow-y: scroll;

}

.cardsContainer::after {
  content: "";
flex: 1 1 100%;
max-width:33%;
}

.card {
  flex: 1 1 100%;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  max-width: 32%;
  display: block;
  position: relative;
  height: 250px;
  margin-top: -5px;
}

.errorContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.title{
color: #0E0040;
}

.btn{
position: relative;
top: 20px;
background-color: #FA450F;
border: none;
color: #fff;
padding-left: 15px;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 5px;
font-size: 16px;
border-radius: 30px;
cursor: pointer;
font-weight: 600;
}

.btn:hover{
transition: 0.15s ease-in-out;
background-color: #0E0040;
}

.errorPic{
width: 300px;
}