.container{
    background-color: #fafafa;
    height:570px;
    position: relative;
    top: 111px;
    width: 100%;
    height: 570px;
}
.imageContainer{
    position: relative;
    height: 470px;
    float: right;
    display: flex;
    top: -11px;
}
.image{
    justify-content: left;
    position: relative;
    max-height:100%;
}
.breedContainer{
    background-color: #FA450F;
    width:200px;
    float: left;
    text-align: right;
    position: relative;
    top: 30px;
}
.breed{
    font-weight: 600;
    color: #fff;
    margin-right: 15px;
    font-size: 20px;
}

.name{
    color: #0E0040;
    position:absolute;
    left: 100px;
    margin-top: 60px;
    font-size: 36px;
    font-weight: 700;
}
.averages{
    color: #0E0040;
    position: absolute;
    margin-top: 120px;
    left: 105px;
    font-size: 20px;
}


.yearsCont{
position: absolute;
margin-top: 160px;
left: 100px;
display: flex;
width: 210px;

}
.yearsTitle{
    color: #FA450F;
    font-weight: 600;
    font-size: 18px;
}

.years{
    color: #0E0040;
}



.heightCont{
    position: absolute;
    margin-top: 185px;
    left: 100px;
    display: flex;
    width: 150px;
}
.height{
    color: #0E0040;
}

.heightTitle{
    color: #FA450F;
    font-weight: 600;
    font-size: 18px;
}

.weightCont{
    position: absolute;
    margin-top: 210px;
    left: 100px;
    display: flex;
    width: 180px;
}
.weightContEsp{
    position: absolute;
    margin-top: 210px;
    left: 100px;
    display: flex;
    width: 145px;
}


.weightTitle{
    color: #FA450F;
    font-weight: 600;
    font-size: 18px;
}

.weight{
    color: #0E0040;
}



.tempContainer{
    width:400px;
    position: absolute;
    bottom: 300px; 
}

.tempTitle{
    color: #0E0040;
    position: absolute;
    left: 100px;
}

.temperament{
    position: absolute;
    color: #0E0040;
    top: 20px;
    left: 100px;
}
.loadingContainer{
    position: absolute;
    width: 100%;
    margin-top: -200px;
}
.background{
    width: 100%;
    height: 100%;
    background-color:#272f4d ;

}
.errorPic{
border: solid 1px red;
}


.editFormContainer{
    margin-top: 100px;  
    z-index: 300;
    height: 300px;
    width: 1200px;
    position: absolute;
    left: 150px;
}

.editBackground{
    background-color: #fff;
    box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.15);
-webkit-box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.15);
-moz-box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.15);
    width: 500px;
    height: 470px;
    position: absolute;
    margin-top: 100px;
    left: 200px;
    z-index: 200;
}
.popup{
    position: absolute;
    height: 500px;
    z-index: 500;

}
.exit{
    float: right;
    width: 25px;
    position: relative;
    top: 25px;
    right: 70px;
    z-index: 510;
    cursor: pointer;
}
.filter{
    position:absolute;
    width: 100%;
    height: 500px;
    background-color: black;
    opacity: 90%;
    z-index: 200;
    margin-top: -20px;

}
.btnContainer{
    position: absolute;
    display: flex;
    width: 240px;
    left:320px;
    margin-top: 75px;
    text-align: left;
}

.editBtn, .deleteIcon{
    cursor: pointer;
    width: 18px;
    height: 18px;
   
}
.editCont, .deleteCont {
    display: flex;
    border: solid 1px #555;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    color: #555;
    cursor: pointer;
    font-size: 14px;
}
.deleteCont{
    display: flex;
}

.editCont label{
    margin-left: 5px;
    margin-top: 2px;
}

.deleteCont label{
    margin-left: 5px;
    margin-top: 2px;

}
.editCont:hover, .deleteCont:hover{
    color: orangered;
    border: 1px solid orangered;
    transition: 0.15s ease-in-out;
}

.confirmCont{
    width: 100%;
    position: absolute;
    margin-top: 150px;
    z-index: 300;
}
.confirmImg{
    position:absolute;
    left: 400px;
    width: 600px;
    border-radius: 20px;

}

.ConfirmTitle{
    z-index: 550;
    color: #fff;
    margin-top: 150px;
    left: 480px;
    position: absolute;
}
.yes{
    z-index: 552;
    color: #fff;
    margin-top: 250px;
    left: 480px;
    font-size: 20px;
    border: solid 1px #fff;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
}
.no{
    z-index: 552;
    color: #fff;
    margin-top: 250px;
    left: 560px;
    font-size: 20px;
    border: solid 1px #fff;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
}

.yes:hover, .no:hover{
    color: #0E0040;
    background-color: #fff;
    transition: 0.15s ease-in-out;
}

.createdBtn{
    z-index: 552;
    color: #fff;
    background-color: #FA450F;
    margin-top: 280px;
    left: 600px;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    font-size: 16px;
}
.createBtn{
    z-index: 552;
    color: #fff;
    background-color: #FA450F;
    margin-top: 320px;
    left: 600px;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    font-size: 16px;
}
.createdBtn:hover, .createBtn:hover{
    background-color: #bd350c;
    transition: 0.15s ease-in-out;
}
