.imgContainer img{
    width: 100%;
     border-radius: 50px;
      margin-top: -100px;
  }
  .ship{
      position: absolute;
  }
  .errorBowl{
      width: 200px;
      position: absolute;
      z-index: 700;
      margin-top: 420px;
      left: 44%;
  }
  .sentence{
      z-index: 710;
      color:#fff;
      font-weight: 600;
      font-size: 20px;
  }

  .container{
    position: absolute;
    margin-top:600px;
    width:100%;
    display : flex;
}