.imgContainer img{
  width: 100%;
   border-radius: 50px;
    margin-top: -100px;
}
.ship{
    position: absolute;
}
.errorBowl{
    width: 200px;
    z-index: 700;
    left: 44%;
}
.sentence{
    z-index: 710;
    color:#fff;
    font-weight: 600;
    font-size: 20px;
}

.container{
  position: absolute;
  margin-top:350px;
  width:100%;
  display : flex;
  flex-direction: column;
  z-index: 710;
}
.button{
    color:#fff;
    font-weight: 600;
    background-color: #fa450e;
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    top: 15px;
}
.button:hover{
    background-color: #d42a00;
    transition: 0.1s ease-in-out;

}
