
.tagsArea{
    border-radius: 8px;
    display: flex;
    width: 45%;
    height: 400px;
    overflow-x: hidden;
    position: absolute;
    float: right;
    right: 30px;
    background-color: rgb(230, 230, 230);

}
.tagsArea::-webkit-scrollbar{
    background-color:#07001f ;
    border-radius: 0px 8px 8px 0px;
}

.tagsArea::-webkit-scrollbar-thumb {
    background: #3c287e ;
    border-radius: 0px 8px 8px 0px;
  } 

  .tagsArea::-webkit-scrollbar-thumb:hover {
    background: #291b57 ;
  }

.tags{
    margin-top: 10px;
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    height: 300px;
    align-items: left;
}


.url{
    position: relative;
    top: 30px;
    width: 200px;
    color: #fff;
}
.url input{
    color: #FA450E;
    border-radius: 10px;
}

 .tag{
     margin-left: 8px;
     display: flex;
     
 }
 .NameAndBreed{
    width: 50%;
    display: flex;
    margin-top: 30px;
    margin-left: -20px;
    color: #fff;
    float: left;
   
}
.NameCont{
    position: absolute;
    left: 90px;
    margin-top: 20px;
}

.NameCont input{
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #555;
    margin-left: 10px;
    width: 250px;
    color:#555;
}

.NameCont input::placeholder{
    color:#555 ;
    font-size: 16px;
}
.name:focus{
    background-color: transparent;
}
.BreedCont {
    position: absolute;
    left: 50px;
    margin-top: 80px;

}
.BreedCont select{
  position: relative;
  left: 50px;
  color: #555;
  background-color: transparent;
  border: solid 1px #555 ;
  border-radius: 3px;
  width: 170%;
  height: 25px;
  cursor: pointer;
}

.BreedCont label{
    color: #555;
    font-weight: 500;
    position: relative;
    left: 50px;
    font-weight: 800;
}
.errorName{
    position: relative;
    right: 250px;
    top: 22px;
    font-size: 12px;
    color: #F44336;
}
.errorYears{
    position: relative;
    top: 2px;
    font-size: 12px;
    color: #F44336;
}
.errorWeight, .errorHeight{
    color: #F44336;
    font-size: 12px;
    position: relative;
    top: 22px;
    right: 165px;
}


.errorUrl{
    font-size: 12px;
    color: #F44336;
    float: left;
    margin-top: 5px;

}
.errorTemp{
    color: #F44336;
    position: relative;
    float: left;
    top: -32px;
    left: 335px;
    font-size: 14px;
}
.yearsContainer{
    width: 25%;
    text-align: left;
    color: #555;
    position: absolute;
    margin-top:110px;
    left: 410px;
}   
.yearsContainer input{
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #555;
    width: 30px;
    margin-right: 20px;
    color: #555;
    
}

.weightContainer{
    width: 25%;
    text-align: left;
    color: #555;
    position: absolute;
    margin-top: 200px;
    left: 100px;
}
.weightContainer input{
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #555;
    width: 30px;
    margin-right: 20px;
    color: #555;
}

.heightContainer{
    width: 25%;
    text-align: left;
    color: #555;
    position: absolute;
    margin-top: 200px;
    left: 410px;
}
.heightContainer input{
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #555;
    width: 30px;
    margin-right: 20px;
    color: #555;
}

.url{
    width: 35%;
    text-align: center;
    color: #0E0040;
    position: absolute;
    margin-top: 335px;
    left: 100px;
}
.url input{
    background-color: #fff;
    width: 100%;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
    border: none;
}



.label{
    position: absolute;
    margin-top:-35px;
    margin-left: 60px;
    color: #0E0040;
    font-weight: 600;
}

.submitBtn{
    background-color: #b7b6bc;
    color: #fff;
    border: solid 2px #b7b6bc;
    padding: 10px 20px 10px;
    width:200px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    right:910px;
    margin-top: 400px;
}

.btnActive:hover{
    background-color: #fff;
    color: #0e0040;
    transition: 0.15s ease-in-out
}

.btnActive{
    background-color: transparent;
    color:  #0e0040;
    border: solid 2px  #0e0040;
    padding: 10px 20px 10px;
    width:200px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    right:910px;
    margin-top: 400px;
}
.selectedTempers{
  position: relative;
  top: -40px;
  right: 50px;
  float: right;
  color: white;
}

.miniTags{
    padding:2px 10px 4px 10px;
    border: solid 1px #FA450E;
    color: #FA450E;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    margin-right:5px ;
}

.miniTags:hover{
    padding:2px 10px 4px 10px;
    border: solid 1px #FA450E;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    margin-right:5px ;
    background-color: #FA450E;
    transition: 0.12s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus{
    outline: none;

}

.inputUrl {
    padding: 10px;
}