.search{
    border: solid 1px red;
    margin-top:50px;
   width: 300px;
   height: 30px;
   border: solid 1px white;
   border-radius: 50px;
   background-color: transparent;
   position: absolute;
   right: 550px;
   color: white;
   padding-left:10px
}
.search::placeholder{
    color: #fff;
    position: relative;
    left: 10px;
}
.search:focus{
    outline-style: none;
}
.search:focus::-webkit-input-placeholder 
{
    color: transparent;
}