.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 140px;
    z-index: 850;
}
.pic{
    width: 50%;
    position: absolute;
    z-index:850;
    margin-top :150px;
}

.btn{
    position: absolute;
    right: 415px;
    z-index:881;
    padding: 5px;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 210px;
    background-color: #fa450e;
    font-size: 14px;
    color: #fff;
}

.createdBtn{
    position: absolute;
    right: 400px;
    z-index:880;
    padding: 5px;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 170px;
    background-color: #11093d;
    font-size: 14px;
    color: #fff;
    
}
.createdBtn:hover{
    background-color: #2d1f7a;
    transition: 0.1s ease-in-out;
}

.btn:hover{
    background-color: #e9643b;
    transition: 0.1s ease-in-out;
}
.full{
    width: 1480px;
    height: 650px;
    background-color: black;
    opacity: 70%;
    position:absolute;
    margin-top: 10px;
    right: -10px;
}