.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 140px;
    z-index: 850;
}
.pic{
    width: 600px;
    position: absolute;
    z-index:850;
    left: 25%;
}
.btnCont{
    position: absolute;
    margin-top: 280px;
    left: 570px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.btn{
    z-index:881;
    padding: 5px;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fa450e;
    font-size: 14px;
    color: #fff;
    margin-top: 5px;
}

.createdBtn{
    z-index:880;
    padding: 5px;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #11093d;
    font-size: 14px;
    color: #fff;
    
}
.createdBtn:hover{
    background-color: #2d1f7a;
    transition: 0.1s ease-in-out;
}

.btn:hover{
    background-color: #e9643b;
    transition: 0.1s ease-in-out;
}
.full{
    width: 100%;
    height: 605px;
    background-color: black;
    opacity: 70%;
    position:absolute;
    margin-top: -70px;
    z-index: 600;
}